<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319090946596-6sgiijm64ibkdptf17r8jimbi7tj6f4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319090946596-6sgiijm64ibkdptf17r8jimbi7tj6f4h</string>
	<key>API_KEY</key>
	<string>AIzaSyA9GS_ns36bnEaIsfeOkHst2JNBtUu721A</string>
	<key>GCM_SENDER_ID</key>
	<string>319090946596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shreyansh.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-c54a4</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-c54a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319090946596:ios:5e0c44526ed11e0033deb1</string>
</dict>
</plist>